    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    
    body {
        background-color: hsl(177, 58%, 70%);
    }
    
    .container {
        width: 750px;
        height: 500px;
        margin: 50px auto;
        background-color: white;
        border-radius: 10px;
    }
    
    .container-title {
        padding: 65px 60px 0px 60px;
    }
    
    .container-title h2 {
        color: black;
    }
    
    .movies {
        width: 630px;
        margin: 40px auto;
        height: 200px;
    }
    
    .movies-items {
        width: 100%;
        display: flex;
    }
    
    .movies-item {
        border: 1px solid black;
        padding: 13px 20px;
        margin: 7px;
        border-radius: 5px;
        border: 1px solid hsl(177, 71%, 84%);
        background-color: rgb(245, 252, 252);
    }
    
    .movies-item p {
        font-size: 18px;
    }
    
    .movie-tags {
        width: 100%;
        height: 117px;
        background-color: rgb(245, 252, 252);
        border-radius: 10px;
        padding-top: 35px;
    }
    
    .own-tag {
        border-radius: 5px;
        border: 1px solid hsl(177, 71%, 84%);
        background-color: white;
        width: 600px;
        padding: 10px 10px;
        margin-left: 60px;
    }
    
    .own-tag p {
        font-size: 20px;
        color: rgb(187, 182, 182);
    }