.feedback-head-item {
    height: 137px;
    width: 255px;
    left: 165px;
    top: 94px;
    border-radius: 10px;
    position: absolute;
    width: 255px;
    height: 137px;
    left: 165px;
    top: 94px;
    background: radial-gradient(128.88% 128.88% at 103.9% -10.39%, #E84D70 0%, #A337F6 53.09%, #28A7ED 100%);
    border-radius: 10px;
}

.feedback-nav-items {
    height: 166px;
    width: 255px;
    left: 165px;
    top: 255px;
    border-radius: 10px;
    position: absolute;
    width: 255px;
    height: 166px;
    left: 165px;
    top: 255px;
    background: #FFFFFF;
    border-radius: 10px;
}

.feedback-roadmap {
    position: absolute;
    width: 255px;
    height: 178px;
    left: 165px;
    top: 445px;
    background: #FFFFFF;
    border-radius: 10px;
}