$purple-color:#AD1FEA;
$light-purple-color:#C75AF6;
$blue-color:#4661E6;
$dark-blue-color:#373F68;
$white-color:#FFFFFF;
$gray-color:#F2F4FF;
$light-gray-color:#F7F8FD;
$secondary-dark-blue-color:#3A4374;
$dark-gray-color:#647196;
$pink-color:#F49F85;
$light-blue-color:#62BCFA;
$red-color: #D73737;
$mixed-colors: radial-gradient(128.88% 128.88% at 103.9% -10.39%, #E84D70 0%, #A337F6 53.09%, #28A7ED 100%);