.products-item {
    height: 100%;
    width: 100%;
    margin: 15px;
    position: relative;
}

.product-img {
    position: relative;
}

.secondImg {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

.product-img:hover .secondImg {
    display: inline;
    cursor: pointer;
}

.product-discount {
    position: absolute;
    bottom: 13px;
    right: 10px;
    width: 30px;
    height: 13px;
    line-height: 14px;
    font-weight: 500;
    letter-spacing: 0.2px;
    padding: 5px 8px;
    border: none;
    background-color: #f34723;
    color: var(--white-color);
    font-size: 0.9em;
    text-align: center;
}

.product-img img {
    width: 100%;
    object-fit: cover;
}

.product-name {
    font-weight: 400;
    letter-spacing: 0.6px;
    margin-bottom: 5px;
    line-height: 1.8em;
    color: var(--secondary-color);
}

.star-rating {
    overflow: hidden;
    position: relative;
    font-size: 11px;
    height: 18px;
    line-height: 18px;
    width: 6em;
    font-family: star;
    letter-spacing: 2px;
    margin: 0px auto;
    margin-bottom: 7px;
    margin-left: 0px;
}

.deleted-price {
    font-weight: 300;
    font-size: 16px;
    text-decoration: line-through;
    letter-spacing: 0.6px;
}

.price {
    letter-spacing: 0.2px;
    line-height: 26px;
    font-weight: 600;
    color: var(--dark-color);
    font-size: 1.2em;
}

.product-block {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    background-color: var(--white-color);
    border-radius: 50%;
    padding: 10px;
}

.product-block:hover {
    background-color: var(--main-color);
}

.product-block-hover {
    position: absolute;
    top: 40px;
    right: 15px;
    cursor: pointer;
    height: 40px;
    visibility: hidden;
}

.product-block-outer {
    display: inline-block;
    width: 100%;
    padding-top: 5px;
    display: none;
    z-index: 99;
    position: absolute;
    bottom: 0;
    left: 0;
}

.products-item:hover .product-block-outer {
    display: inline;
}

.products-item:hover .secondImg {
    display: inline;
}

.product-btn {
    cursor: pointer;
    background-color: var(--main-color);
    color: var(--dark-color);
    border: none;
    display: block;
    position: relative;
    font-size: 1em;
    line-height: 22px;
    font-weight: 500;
    letter-spacing: 0.6px;
    padding: 10px 29px;
    width: 100%;
    box-sizing: border-box;
    transition: all .3s ease;
}

.product-btn:hover {
    background-color: var(--dark-color);
    color: var(--white-color);
}

h3:hover {
    color: var(--main-color);
}

.products-item:hover {
    box-shadow: 0.5px#ebe9eb;
}