$main-color:#373F68;
$light-main-color:#647196;
$secondary-color:#AD1FEA;
$white-color:#FFFFFF;
$gray-color:#F2F4FE;
$dark-gray-color:#CDD2EE;
$blue-color:#62BCFA;
$dark-blue-color:#4661E6;
$orange-color:#F49F85;