$container-width:1200px;
$main-color:#c0df19;
$secondary-color:#f4ffb9;
$dark-color:#333;
$white-color:#fff;
$space-x:5px;
$space-2x:$space-x*2;
$space-3x:$space-x*3;
$space-4x:$space-x*4;
$space-6x:$space-x*6;
$space-8x:$space-x*8;
.container {
    width: $container-width;
    display: flex;
    margin: 0 auto;
    height: $container-width/4;
    font-family: 'Droid Sans', sans-serif;
    margin-top: 100px;
    .container-item {
        background-color: $secondary-color;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px 15px;
        position: relative;
        padding-top: 70px;
        transition: all .3s ease;
        h2 {
            font-weight: 700;
            color: $dark-color;
            font-size: $space-6x
        }
        p {
            color: lighten($dark-color, 25%);
            font-size: $space-3x;
            padding: 0px $space-6x;
            text-align: center;
        }
        .fa {
            font-size: 52px;
            margin: $space-4x 0;
            width: 130px;
            height: 130px;
            line-height: 120px;
            color: $main-color;
            background: $white-color;
            text-align: center;
            position: absolute;
            border-radius: 50%;
            transition: all .3s ease;
            top: -80px;
        }
        .btn {
            margin: $space-2x 0 $space-4x;
            padding: $space-3x $space-7x;
            color: $white-color;
            border-radius: 40px;
            background: $main-color;
            text-decoration: none;
            transition: all .3s ease;
        }
        & a:hover {
            background: darken($main-color, 15%);
        }
        & :hover .fa {
            background-color: darken($main-color, 15%);
            color: $white-color;
        }
    }
}