$light-gray-color:#F2F2F2;
$mixed-colors:radial-gradient(128.88% 128.88% at 103.9% -10.39%, #E84D70 0%, #A337F6 53.09%, #28A7ED 100%);
$white-color:#FFFFFF;
$blue-color:#4661E6;
$secondary-gray-color:#CFD7FF;
$dark-blue-color:#3A4374;
$light-blue-color:#647196;
$secondary-dark-blue-color:#373F68;
$purple-color:#C75AF6;