@import 'colors';
body {
    background-color: $light-gray-color;
}

.feedback-head-item {
    position: absolute;
    width: 255px;
    height: 137px;
    left: 165px;
    top: 94px;
    background: $mixed-colors;
    border-radius: 10px;
    h3 {
        position: absolute;
        height: 29px;
        left: 10%;
        right: -0.65%;
        top: calc(50% - 29px/2 - 11px);
        font-family: Jost;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 29px;
        letter-spacing: -0.25px;
        color: $white-color;
    }
    p {
        position: absolute;
        height: 22px;
        left: 10%;
        right: 29.41%;
        top: calc(50% - 22px/2 + 14.5px);
        font-family: Jost;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
        color: $white-color;
        mix-blend-mode: normal;
        opacity: 0.75;
    }
}

.feedback-nav-items {
    position: absolute;
    width: 255px;
    height: 166px;
    left: 165px;
    top: 255px;
    background: $white-color;
    border-radius: 10px;
    .active-navbar-nav {
        position: absolute;
        left: 10%;
        top: 10%;
        background: $blue-color;
        border-radius: 10px;
        height: 30px;
        width: 48px;
        left: 0px;
        top: 0px;
        border-radius: 10px;
        p {
            position: absolute;
            height: 19px;
            left: 33.33%;
            right: 33.33%;
            top: calc(50% - 19px/2 - 0.5px);
            font-family: Jost;
            font-style: normal;
            font-weight: 600;
            font-size: 13px;
            line-height: 19px;
            color: $white-color;
        }
    }
    .navbar-nav {
        position: absolute;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
        background: $secondary-gray-color;
        border-radius: 10px;
        p {
            position: absolute;
            height: 19px;
            left: 33.33%;
            right: 39.58%;
            top: calc(50% - 19px/2 - 0.5px);
            font-family: Jost;
            font-style: normal;
            font-weight: 600;
            font-size: 13px;
            line-height: 19px;
            color: $blue-color;
        }
    }
}

.feedback-roadmap {
    position: absolute;
    width: 255px;
    height: 178px;
    left: 165px;
    top: 445px;
    background: $white-color;
    border-radius: 10px;
    h3 {
        position: absolute;
        height: 26px;
        left: 10%;
        right: 62.32%;
        top: 2%;
        font-family: Jost;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 26px;
        letter-spacing: -0.25px;
        color: $dark-blue-color;
        height: 26px;
        width: 78px;
    }
    h6 {
        position: absolute;
        height: 19px;
        top: 0%;
        right: 10%;
        font-family: Jost;
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 19px;
        /* identical to box height */
        text-decoration-line: underline;
        color: $blue-color;
        mix-blend-mode: normal;
        opacity: 0.25;
    }
    .fb-roadmap-items {
        position: absolute;
        top: 30%;
        margin-left: 20px;
        .feedback-roadmap-plan {
            display: flex;
            align-items: center;
            height: 20px;
            margin-bottom: 15px;
            p {
                font-family: Jost;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 23px;
                color: $light-blue-color;
            }
            img {
                height: 8px;
                width: 8px;
                left: 0px;
                top: 7px;
                border-radius: 0px;
                margin-right: 20px;
            }
            span {
                position: absolute;
                right: -100%;
                font-family: Jost;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 23px;
                color: $light-blue-color;
            }
        }
    }
}

.menu {
    position: absolute;
    width: 825px;
    height: 72px;
    left: 450px;
    top: 94px;
    background: $secondary-dark-blue-color;
    border-radius: 10px;
    // display: flex;
    // align-items: center;
    .menu-settings {
        display: flex;
        align-items: center;
        i {
            height: 24px;
            width: 23px;
            border-radius: 0px;
            background: $secondary-dark-blue-color;
            color: $white-color;
            margin: 30px 20px 20px 20px;
        }
        h3 {
            font-family: Jost;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 26px;
            letter-spacing: -0.25px;
            color: $white-color;
            height: 26px;
            width: 117px;
        }
        p {
            font-family: Jost;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            color: $light-gray-color;
            height: 20px;
            width: 143px;
        }
    }
    .button1 {
        // position: absolute;
        // left: 0%;
        // right: 70%;
        // top: 50%;
        // bottom: 0%;
        float: right;
        position: absolute;
        top: 15px;
        right: 2%;
        background: $purple-color;
        border-radius: 10px;
        color: $white-color;
        width: 158px;
        height: 44px;
        border: none;
    }
}

.element {
    position: absolute;
    width: 825px;
    height: 600px;
    left: 450px;
    top: 190px;
    background: $white-color;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h3 {
        // position: absolute;
        // height: 35px;
        // left: 15.85%;
        // right: 16.83%;
        // top: calc(50% - 35px/2 - 77px);
        font-family: Jost;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 35px;
        /* identical to box height */
        text-align: center;
        letter-spacing: -0.333333px;
        color: $dark-blue-color;
    }
    p {
        // position: absolute;
        // height: 46px;
        // left: 0%;
        // right: 0%;
        top: calc(50% - 46px/2 - 20.5px);
        font-family: Jost, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 23px;
        text-align: center;
        color: $light-blue-color;
        height: 46px;
        width: 410px;
    }
    .button1 {
        // position: absolute;
        // left: 0%;
        // right: 0%;
        // top: 0%;
        // bottom: 0%;
        background: $purple-color;
        border-radius: 10px;
        width: 158px;
        height: 44px;
        color: $light-gray-color;
        border: none;
    }
}