//backgrounds
.bg-main-normal {
    background: $color-main-normal;
}

.bg-main-dark {
    background: $color-main-dark;
}

.bg-main-light {
    background: $colormain-light;
}

//text colors
.text-main-normal {
    color: $color-main-normal;
}

.text-main-dark {
    color: $color-main-dark;
}

.text-main-light {
    color: $colormain-light;
}