//leyihede istifade olunacaq deyisenler
//colors
$color-main-normal:#3A4374;
$color-main-dark:#371F63;
$color-main-light:#647196;
$color-primary-default:#AD1FEA;
$color-secondary-main:#4661E6;
$color-secondary-light:#62BCFA;
$color-info-default:#F7F8FD;
$color-info-dark:#F2F4FF;
$color-info-light:#FFFFFF;
$color-warning-default:#F49F85;